# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Python Libraries : Pandas, Numpy , Seaborn, Matplotlib, Scikit learn, keras, Tensorflow

2. Scala Libraries : Vegas , BigDL
   
3. R libraries : ggplot2

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

Below are a few examples of evaluating arithmetic expressions in Python.

In [19]:
print(3**5)

243

In [21]:
print(5/3)

1.6666666666666667

In [23]:
print(5//3)

1

In [25]:
print(47657+7)

47664

In [29]:
#This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [33]:
# This will convert 200 minutes to hours by diving by 60

print(200//60)

3

**Objectives:**
- List popular languages for Data Science.
- Discuss common libraries used in Data Science.
- Demonstrate examples of evaluating arithmetic expressions in Python.
- Create a table of Data Science tools.
- Highlight development environment tools for Data Science.

# Author
Moulika